

.faqPage{
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    /* background: linear-gradient(to bottom, #ededed, #b7c8ff) no-repeat fixed; */
    width: 100% ;
    padding-top: 4.2rem;
    color: black;
    align-items:center ;
}
.accordian{
    width: 50vw;
}
.faqTitle{
    color: #5a67d8;
    margin: 1rem 1rem 0rem 1rem;
}
.faq-underline{
    width:50px;
    height: 2.3px;
    background-color: rgb(203, 172, 0);
    margin: 0.2rem 1rem 1rem 1rem;
}
.container {
    max-width: 85vw;
}
.typography{
    color: #201aa3;
    font-weight: 700 !important;
    padding: 0.7rem;
    font-size: 1.1rem !important;
   
}
.typography1{
    color: black;
    height:auto;
    padding: 0.7rem;
}
#panel1a-header{
    border-bottom: 1px dashed #5a67d8;
}
#panel2a-header{
    border-bottom: 1px dashed #5a67d8;
}
#panel1a-header svg path{
font-size: 30px;
color: #201aa3;
}
#panel2a-header svg path{
    font-size: 30px;
    color: #201aa3;
    }

@media (max-width: 850px) {
      .typography{
        font-size: 1rem !important;
    }
    .accordian{
        width: 95vw;
    }
    }