.CardCon{
    box-shadow: 0px 0px 10px 0px rgba(192, 192, 192, 0.75);
}

 
.button-24 {
  background: #8a5fff;
  border: 1px solid #8a5fff;
  border-radius: 6px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block; 
  font-size: 16px;
  font-weight: 800; 
  outline: 0;
  margin: 10px;
  padding: 0.6rem 2rem;
  text-align: center;
    width: 182px;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: #FFFFFF;
  background-position: 0 0;
  color: #8a5fff;
}

.button-24:active {
  opacity: .5;
}

  
 
.button-81 {
    background-color: #efefef;
        /* border: 2px solid #8a5fff; */
        border-radius: 5px;
        box-sizing: border-box;
        color: #8a5fff;
        cursor: pointer;
        display: flex;
        justify-content:center ;
        align-items: center; 
        font-size: 16px;
        font-weight: 600; 
        margin:10px;
        padding: 0;
        padding: 0.6rem 0rem;
        text-align: center; 
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 182px;
  }

  .button-81:hover {
      background-color: #8a5fff;
      color: #fff;
  }
  .detail-view{
    display: flex;
    padding-top: 6rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
 @media screen and (max-width: 801px) {

    .detail-view {
        flex-wrap: wrap;
    padding-left: 0;
        padding-right: 0;
    }
}

.indicator {
    cursor: pointer;
    /* padding: 10px; */
    text-align: center;
    margin: 0;
}

.indicator.active {
    color: #fff;
    border: 4px solid #8a5fff ;
    border-radius: 4px;
   /* background-color: #8a5fff; */
}

.productSlider{
    width: 400px;
    height:75vh;
    padding:0px;
    padding:1.5rem;
    background-color:#efefef;
    border-radius: 10px;
}
.productStyle{
    width:100px ;
    height:100px;
    margin: 0.5rem;
    margin-top:1.5rem;
}
 @media screen and (max-width: 801px) {
    .productSlider {
        width: 100vw;
        height: 70vh;
        padding: 0px;
        padding: 2rem;
        background-color: #efefef;
        border-radius: 10px;
    }
    .productStyle {
        width: 80px;
        height: 80px;
        margin: 0.5rem;
        margin-top: 1rem;
    }
 }